<html>
        
        <head>
            <title>Workwell Cafe</title>
        </head>
        
        <body>
            <div id="Header">
                <h1>Thank you!</h1>
            </div>
            <div>
                <div id="inseats">
                    <p>Pay for your drinks, food and seats at the counter on your way out.</p>
                    each seat in seats
                        <p><strong>Seat: #{seat.id}</strong></p>
                    <p><strong>#{total_time}</strong></p>
                </div>
                <a href="/">Done</a>
            </div>
        </body>
        
        </html>