<html>
        
        <head>
            <title>Workwell Cafe</title>
        </head>
        
        <body>
            <div id="Header">
                <h1>Thank you!</h1>
            </div>
            <div>
                <div id="inseats">
                    <p>Pay for your drinks, food and seats at the counter on your way out.</p>
                    <p><strong>Seat: 1 & 3</strong></p>
                    <p><strong>Time: 1:16</strong></p>
                </div>
                <a href="index.html">Done</a>
            </div>
        </body>
        
        </html>