html
    
    head
        title Workwell Cafe - Seats
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="/styles/style.css")
        script(src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js")
        style(type="text/css").
            #Tables {
                position: relative;
                width: 355px;
            }
            #Tables h1 {
                margin: 30px 0 0;
            }
            #Tables span label {
                margin-bottom: 0;
            }
            #CommunalTableLayout {
                width: 355px;
            }
            .CommunalTable {
                width: 355px;
                height: 240px;
            }
            #BoothTableLayout {
                width: 355px;
                height: 130px;
            }
            #GroupTableLayout {
                width: 355px;
                height: 50px
            }
            span {
                position: absolute;
                background: #1ABC9C;
                padding: 3px 7px 3px 3px;
                border-radius: 5px;
            }
            span label {
                color: #fff;
                font-weight: 100;
            }
            span.taken {
                background: #999;
            }
            /*Communal Tables */
            #seat1 {
                top: 100px;
            }
            #seat2 {
                top: 130px;
            }
            #seat3 {
                top: 160px;
            }
            #seat4 {
                top: 190px;
            }
            #seat5 {
                top: 220px;
            }
            #seat6 {
                top: 250px;
            }
            #seat7 {
                top: 340px;
            }
            #seat8 {
                top: 370px;
            }
            #seat9 {
                top: 400px;
            }
            #seat10 {
                top: 430px;
            }
            #seat11 {
                top: 460px;
            }
            #seat12 {
                top: 490px;
            }
            #seat13 {
                top: 580px;
            }
            #seat14 {
                top: 610px;
            }
            #seat15 {
                top: 640px;
            }
            #seat16 {
                top: 670px;
            }
            #seat17 {
                top: 700px;
            }
            #seat18 {
                top: 730px;
            }
            /* Booth Tables */
            #seat19 {
                top: 855px;
            }
            #seat20 {
                top: 885px;
            }
            #seat21 {
                top: 915px;
            }
            #seat22 {
                top: 945px;
            }
            /* Group Tables */
            #seat23 {
                top: 1070px;
            }
            /* Checkin Button */
            input#CheckinButton {
                background: #1ABC9C;
                color: #fff;
                font-size: 22px;
                border: none;
                padding: 15px 0;
                width: 100%;
                font-family: 'Lato', sans-serif;
                text-shadow: none;
                margin: 30px 0;
                border-radius: 10px;
            }
            /* Logout Button */
            input#LogoutButton {
                border: none;
                background: #fff;
                padding: 5px 0;
                font-size: 14px;
                width: 100%;
                color: #333;
                border-radius: 5px;
                text-decoration: underline;
            }
    
    body

        form(action="checkedin", method="post")

            div(id="Tables")
                div(id="CommunalTables")
                    h1 Communal Tables
                    div(id="CommunalTableLayout")
                        div(id="TableOne", class="CommunalTable")
                            h2 Table One
                        div(id="TableTwo", class="CommunalTable")
                            h2 Table Two
                        div(id="TableThree", class="CommunalTable")
                            h2 Table Three
                div(id="BoothTables")
                    h1 Semi-Private Booths
                    div(id="BoothTableLayout")
                div(id="GroupTables")
                    h1 Group Tables
                    div(id="GroupTableLayout")
                    
                each seat in seats
                    if !seat.customer
                        span(id="seat" + seat.id)
                            input(type='checkbox', name="seat-" + seat.id, id="seat-" + seat.id) 
                            label(for="seat-" + seat.id) Seat #{seat.id}
                    if seat.customer
                        span(id="seat" + seat.id, class="taken")
                            input(type='checkbox', name="seat-" + seat.id, checked, disabled) 
                            label Seat #{seat.id}
                input(type="submit", value="Check in!", id="CheckInButton")

                if logged_in
                form(action="logout", method="post")
                    input(type="submit", value="Logout", id="LogoutButton")