<html>

<head>
    <title>Workwell Cafe</title>
</head>

<body>
    <div id="Header">
        <h1>Save your seat</h1>
    </div>
    <div id="SeatTypes">
        <div>
            <a href="communaltables.html">
                <h2>Communal Tables</h2>
                <p>A seat for one, or two+ seats together at a communal table. Ergonomic chairs and a plug for every seat.</p>
                <p>$3/seat</p>
            </a>
        </div>
        <div>
            <a href="booths.html">
                <h2>Semi-Private Booths</h2>
                <p>A seat for one, or two in a semi-private booth. Ergonimc chairs and lots of plugs. Make a call or meet a client.</p>
                <p>$6/booth</p>
            </a>
        </div>
        <div>
            <a href="grouptables.html">
                <h2>Group Tables</h2>
                <p>A whole table for groups of up to four people. Ergonimc seating and lots of plugs. Get together and get work done!</p>
                <p>$12/table</p>
            </a>
        </div>
    </div>
</body>

</html>