<html>
    
    <head>
        <title>Workwell Cafe</title>
        <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
        style(type="text/css").
            #communaltables {
                position: relative;
                background: url(https://s3.amazonaws.com/workwellcafe-images/communaltables.png);
                width: 355px;
                height: 515px;
            }
            span {
                position: absolute;
                background: #7ED321;
                padding: 2px;
                border-radius: 5px;
            }
            span.taken {
                background: #999;
            }
            #seat1 {
                top: 105px;
                left: 44px;
            }
            #seat2 {
                top: 41px;
                left: 100px;
            }
            #seat3 {
                top: 26px;
                left: 167px;
            }
    </head>
    
    <body>
        <div id="Header">
            <h1>Communal tables</h1>
        </div>

        if logged_in
            form(action="logout", method="post")
                input(type="submit", value="Logout")

        form(action="checkedin", method="post")


            <div id="communaltables">

                
                each seat in seats
                    if !seat.customer
                        span(id="seat" + seat.id)
                            input(type='checkbox', name="seat-" + seat.id) 
                            label Seat #{seat.id}
                    if seat.customer
                        span(id="seat" + seat.id, class="taken")
                            input(type='checkbox', name="seat-" + seat.id, checked, disabled) 
                            label Seat #{seat.id}

            </div>

            input(type="submit", value="Check in!")

    </body>
    
</html>