ol#SeatAdmin li {
    list-style: none;
    padding: 40px;
    background: #f1f1f1;
    margin: 10px;
    height: 235px;
    width: 335px;
    border-radius: 5px;
}

ol#SeatAdmin li {
    float: left;
}

ol#SeatAdmin li input {
    margin: 0 0 20px;
    width: 100%;
    height: 85px;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

a.CheckoutButton, a.CheckinButton {
    display: block;
    background: #1ABC9C;
    color: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

ol#SeatAdmin li p.CheckinTime {
    color: #999;
}

ol#SeatAdmin li p.EmailAddress {
    font-weight: bold;
}

a#RefreshButton {
    display: block;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 12px;
    font-size: 22px;
    border-radius: 5px;
}